.App {
  text-align: center;
}
.App .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav a {
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: darkolivegreen;
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
  display: inline-block;
  border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  width: 180px;
}
.App ul {
  text-align: left;
  list-style: none;
}
.App ul li {
  margin-bottom: 20px;
}
